<a routerLink="/admin/funcionarios/0/novo" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>
<h1>Lista de Funcionarios</h1>
<hr>
<div class="alert alert-success" *ngIf="excluir_ok">
    <strong>Sucesso!</strong> O funcionario foi excluído com sucesso.
</div>
<div class="alert alert-danger" *ngIf="excluir_erro">
    <strong>Ops!</strong> Ocorreu um erro ao tentar excluir o funcionario. Aguarde alguns instantes e tente novamente.
</div>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th width="80">Tipo</th>
        <th>Id da Pessoa</th>
        <th width="250">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let funcionario of funcionarios">
        <td>{{funcionario.tipo}}</td>
        <td>{{funcionario.pessoaId}}</td>
        <td>
            <a [routerLink]="['/admin/funcionarios', funcionario.id]" class="btn btn-primary btn-sm">Abrir</a>
            <a [routerLink]="['/admin/funcionarios', funcionario.id, 'editar']" class="btn btn-secondary btn-sm">Editar</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-sm" (click)="excluir(funcionario)">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

